@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__wrap/profile-info__wrap.css);
@import url(../blocks/profile-info/__title/profile-info__title.css);
@import url(../blocks/profile-info/__intro/profile-info__intro.css);
@import url(../blocks/profile/__edit-buton/profile__edit-buton.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__basket/element__basket.css);
@import url(../blocks/element/__img/element__img.css);
@import url(../blocks/element/__wrap/element__wrap.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_active/element__button_active.css);
/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__span/footer__span.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type_image/popup__container_type_image.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_tupe_error/popup__input_type_error.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/_type/popup_type_image.css);
