.element__button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  border: none;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.element__button:hover {
  opacity: 0.5;
}

/* .element__button:active {
  opacity: 0.5;
  background-image: url(../../../images/like_black.svg);
} */

