.popup__button-submit {
  background: #000;
  border: none;
  border-radius: 2px;
  padding-top: 14px;
  padding-bottom: 18px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .popup__button-submit {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
}
}
